<?xml version="1.0" encoding="utf-8"?>
<Media Key="85cc41e0-1103-4395-ae51-559551374507" Alias="Jasper Garratt Egwwvfq0 4C Unsplash" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/JasperGarrattEgwwvfq04CUnsplash</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2025-01-02T10:32:10</CreateDate>
    <NodeName Default="Jasper Garratt Egwwvfq0 4C Unsplash" />
    <SortOrder>4</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/2zanzbid/jasper-garratt-egwwvfq0-4c-unsplash.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>