<?xml version="1.0" encoding="utf-8"?>
<Media Key="b198c0e1-c7e7-47ea-9030-a932096bff78" Alias="Ron Mcclenny Nhj62bomggw Unsplash" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/RonMcclennyNhj62bomggwUnsplash</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2024-12-31T11:02:38</CreateDate>
    <NodeName Default="Ron Mcclenny Nhj62bomggw Unsplash" />
    <SortOrder>1</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/25ajrmph/ron-mcclenny-nhj62bomggw-unsplash.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>