<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="def3cc27-0ecc-4afb-8151-766c80954b48" Alias="accordionRow" Level="4">
  <Info>
    <Name>Accordion Row</Name>
    <Icon>icon-bulleted-list color-indigo</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Nothing</Variations>
    <IsElement>true</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Folder>Elements/Content+Blocks/Content+Models</Folder>
    <Compositions>
      <Composition Key="1fe484f1-6128-4ce4-8b86-df5675d04ad9">descriptionProperty</Composition>
      <Composition Key="18cd8edd-64c6-4b70-819b-66b39719ab5f">titlePropertie</Composition>
    </Compositions>
    <DefaultTemplate></DefaultTemplate>
    <AllowedTemplates />
  </Info>
  <Structure />
  <GenericProperties>
    <GenericProperty>
      <Key>cb7f4299-3ba9-41b6-8ce9-f8fe21fde84d</Key>
      <Name>Accordion Items</Name>
      <Alias>accordionItems</Alias>
      <Definition>60b79ad4-1cd7-43bb-b6ae-e77fe5178397</Definition>
      <Type>Umbraco.BlockList</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[Add the items for this row]]></Description>
      <SortOrder>40</SortOrder>
      <Tab Alias="content">Content</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
  </GenericProperties>
  <Tabs>
    <Tab>
      <Key>6abd5591-6cf9-4e14-83f9-7a9310dd42c8</Key>
      <Caption>Content</Caption>
      <Alias>content</Alias>
      <Type>Tab</Type>
      <SortOrder>0</SortOrder>
    </Tab>
  </Tabs>
</ContentType>