<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="cf34e5d6-896c-410a-b5fb-3dea4af857b6" Alias="blogPage" Level="2">
  <Info>
    <Name>Article List Page</Name>
    <Icon>icon-thumbnail-list color-cyan</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description>A list of articles or blogposts.</Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Nothing</Variations>
    <IsElement>false</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Folder>Pages</Folder>
    <Compositions>
      <Composition Key="4db783d6-8a72-41dc-b151-c5d4e07ece6d">contentProperties</Composition>
      <Composition Key="e5485416-cbab-415f-93f7-30da85b2a990">headerProperties</Composition>
      <Composition Key="7ad203c8-53ca-4170-ade4-7906210eb5ba">visibilityProperties</Composition>
    </Compositions>
    <DefaultTemplate>BlogPage</DefaultTemplate>
    <AllowedTemplates>
      <Template Key="84c1e9e3-24b4-44f5-8af6-39c4d6ede606">BlogPage</Template>
    </AllowedTemplates>
  </Info>
  <Structure />
  <GenericProperties />
  <Tabs />
</ContentType>