<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="2dd9ec0d-e025-4834-9044-a7c33a03f87b" Alias="contact" Level="2">
  <Info>
    <Name>Contact</Name>
    <Icon>icon-phone-ring color-cyan</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description>A simple contact page.</Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Nothing</Variations>
    <IsElement>false</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Folder>Pages</Folder>
    <Compositions>
      <Composition Key="4db783d6-8a72-41dc-b151-c5d4e07ece6d">contentProperties</Composition>
      <Composition Key="e5485416-cbab-415f-93f7-30da85b2a990">headerProperties</Composition>
      <Composition Key="7ad203c8-53ca-4170-ade4-7906210eb5ba">visibilityProperties</Composition>
    </Compositions>
    <DefaultTemplate>Contact</DefaultTemplate>
    <AllowedTemplates>
      <Template Key="f9dd920c-e6d5-462d-97d2-0dc162b9d5ce">Contact</Template>
    </AllowedTemplates>
  </Info>
  <Structure />
  <GenericProperties />
  <Tabs />
</ContentType>