<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="e91528f1-5675-4438-8ce9-71a9bac64d42" Alias="contentPage" Level="2">
  <Info>
    <Name>Content Page</Name>
    <Icon>icon-document color-cyan</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description>A simple content page.</Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Nothing</Variations>
    <IsElement>false</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Folder>Pages</Folder>
    <Compositions>
      <Composition Key="4db783d6-8a72-41dc-b151-c5d4e07ece6d">contentProperties</Composition>
      <Composition Key="e5485416-cbab-415f-93f7-30da85b2a990">headerProperties</Composition>
      <Composition Key="7ad203c8-53ca-4170-ade4-7906210eb5ba">visibilityProperties</Composition>
    </Compositions>
    <DefaultTemplate>ContentPage</DefaultTemplate>
    <AllowedTemplates>
      <Template Key="773f91e5-d0fb-4fa1-9c0d-ea83c26ff757">ContentPage</Template>
    </AllowedTemplates>
  </Info>
  <Structure />
  <GenericProperties />
  <Tabs />
</ContentType>