<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="6d5bcb03-8ed1-4d09-ab96-277906c8f6d6" Alias="homePage" Level="2">
  <Info>
    <Name>Home Page</Name>
    <Icon>icon-home color-cyan</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>True</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Nothing</Variations>
    <IsElement>false</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Folder>Pages</Folder>
    <Compositions>
      <Composition Key="e5485416-cbab-415f-93f7-30da85b2a990">headerProperties</Composition>
      <Composition Key="7613c07e-4946-4b53-8ca7-6ca2f4d3f4e9">siteNavigationProperties</Composition>
    </Compositions>
    <DefaultTemplate>HomePage</DefaultTemplate>
    <AllowedTemplates>
      <Template Key="c8c9be0a-d582-49a5-bdcb-8fe56709f62c">HomePage</Template>
    </AllowedTemplates>
  </Info>
  <Structure>
    <ContentType Key="e91528f1-5675-4438-8ce9-71a9bac64d42" SortOrder="0">contentPage</ContentType>
    <ContentType Key="cf34e5d6-896c-410a-b5fb-3dea4af857b6" SortOrder="1">blogPage</ContentType>
    <ContentType Key="2dd9ec0d-e025-4834-9044-a7c33a03f87b" SortOrder="2">contact</ContentType>
  </Structure>
  <GenericProperties />
  <Tabs />
</ContentType>