<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="f76f5ed0-b576-4a94-be4c-be3aac715195" Alias="imageLinkItem" Level="4">
  <Info>
    <Name>Image Link Item</Name>
    <Icon>icon-pictures color-indigo</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Nothing</Variations>
    <IsElement>true</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Folder>Elements/Content+Blocks/Content+Models</Folder>
    <Compositions>
      <Composition Key="1fe484f1-6128-4ce4-8b86-df5675d04ad9">descriptionProperty</Composition>
      <Composition Key="13464bf5-1aa0-4f17-9a8b-45b814477a38">imageProperty</Composition>
      <Composition Key="72a5b1f1-a643-44ed-9fdf-2d64b029a64b">linkProperty</Composition>
      <Composition Key="18cd8edd-64c6-4b70-819b-66b39719ab5f">titlePropertie</Composition>
    </Compositions>
    <DefaultTemplate></DefaultTemplate>
    <AllowedTemplates />
  </Info>
  <Structure />
  <GenericProperties />
  <Tabs />
</ContentType>