<?xml version="1.0" encoding="utf-8"?>
<DataType Key="3b59acac-8095-4248-9813-d98e4316b209" Alias="[BlockList] Carousel Items" Level="1">
  <Info>
    <Name>[BlockList] Carousel Items</Name>
    <EditorAlias>Umbraco.BlockList</EditorAlias>
    <DatabaseType>Ntext</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "Blocks": [
    {
      "backgroundColor": "#073763",
      "contentElementTypeKey": "a06d1a3d-b853-4f51-9ded-997e49c268a4",
      "editorSize": "medium",
      "forceHideContentEditorInOverlay": false,
      "iconColor": "#ffffff",
      "label": "{{ title != '' ? title : 'Slide ' + $index}} {{$settings.hide == '1' ? '[HIDDEN]' : ''}}",
      "settingsElementTypeKey": "f84c6be9-34ac-4e60-a2a7-9e1c75b2d03e",
      "stylesheet": null,
      "thumbnail": null,
      "view": null
    }
  ],
  "MaxPropertyWidth": null,
  "UseInlineEditingAsDefault": false,
  "UseLiveEditing": false,
  "ValidationLimit": {
    "max": null,
    "min": null
  }
}]]></Config>
</DataType>