<?xml version="1.0" encoding="utf-8"?>
<DataType Key="60b79ad4-1cd7-43bb-b6ae-e77fe5178397" Alias="[BlockList] Accordion List" Level="1">
  <Info>
    <Name>[BlockList] Accordion List</Name>
    <EditorAlias>Umbraco.BlockList</EditorAlias>
    <DatabaseType>Ntext</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "Blocks": [
    {
      "backgroundColor": "#073763",
      "contentElementTypeKey": "48b39120-5243-47f0-bdb6-9ca455cd7746",
      "editorSize": "medium",
      "forceHideContentEditorInOverlay": false,
      "iconColor": "#ffffff",
      "label": "Acordion Item",
      "settingsElementTypeKey": "02ddedd3-e041-4870-a766-4ecb1a82ceb4",
      "stylesheet": null,
      "thumbnail": null,
      "view": null
    }
  ],
  "MaxPropertyWidth": null,
  "UseInlineEditingAsDefault": true,
  "UseLiveEditing": false,
  "ValidationLimit": {
    "max": null,
    "min": null
  }
}]]></Config>
</DataType>