<?xml version="1.0" encoding="utf-8"?>
<DataType Key="77d7a625-59d5-4bc5-898f-de126819e12e" Alias="[BlockList] Main Content" Level="1">
  <Info>
    <Name>[BlockList] Main Content</Name>
    <EditorAlias>Umbraco.BlockList</EditorAlias>
    <DatabaseType>Ntext</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "Blocks": [
    {
      "backgroundColor": "#073763",
      "contentElementTypeKey": "4367c4b1-6c6e-4ba4-a300-6f381797d19d",
      "editorSize": "medium",
      "forceHideContentEditorInOverlay": false,
      "iconColor": "#ffffff",
      "label": "{{ 'Rich Text '  + $index }} {{$settings.hide == '1' ? '[HIDDEN]' : \"\"}}",
      "settingsElementTypeKey": "9ea10629-93ad-451a-8c8e-9755778fe6db",
      "stylesheet": null,
      "thumbnail": null,
      "view": null
    },
    {
      "backgroundColor": "#073763",
      "contentElementTypeKey": "4e12f6b5-5431-4081-959b-23a352f7dce4",
      "editorSize": "medium",
      "forceHideContentEditorInOverlay": false,
      "iconColor": "#ffffff",
      "label": "{{ 'Image Row ' + $index }} {{$settings.hide == '1' ? '[HIDDEN]' : \"\"}}",
      "settingsElementTypeKey": "28a8610d-1884-4fe9-80c8-a78ffa9c84c1",
      "stylesheet": null,
      "thumbnail": null,
      "view": null
    },
    {
      "backgroundColor": "#073763",
      "contentElementTypeKey": "dc5f1ecd-869b-4eaa-9fe1-3487f05b7460",
      "editorSize": "medium",
      "forceHideContentEditorInOverlay": false,
      "iconColor": "#ffffff",
      "label": "{{ title != '' ? title : 'Featured Items ' + $index}} {{$settings.hide == '1' ? '[HIDDEN]' : ''}}",
      "settingsElementTypeKey": "98f84e81-a1df-4391-802b-cc05309ce7fe",
      "stylesheet": null,
      "thumbnail": null,
      "view": null
    }
  ],
  "MaxPropertyWidth": null,
  "UseInlineEditingAsDefault": false,
  "UseLiveEditing": false,
  "ValidationLimit": {
    "max": null,
    "min": null
  }
}]]></Config>
</DataType>