<?xml version="1.0" encoding="utf-8"?>
<DataType Key="8185be59-bfd0-46eb-b230-936b1b5a6899" Alias="[MultiURLPicker] Singel URL Picker" Level="1">
  <Info>
    <Name>[MultiURLPicker] Singel URL Picker</Name>
    <EditorAlias>Umbraco.MultiUrlPicker</EditorAlias>
    <DatabaseType>Ntext</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "HideAnchor": false,
  "IgnoreUserStartNodes": false,
  "MaxNumber": 1,
  "MinNumber": 0,
  "OverlaySize": "small"
}]]></Config>
</DataType>