<?xml version="1.0" encoding="utf-8"?>
<Content Key="35209eab-eccd-4b50-8c3f-a7b558c609c4" Alias="About" Level="2">
  <Info>
    <Parent Key="89c53768-f8a8-44d4-b9a0-62748a1277b7">Home</Parent>
    <Path>/Home/About</Path>
    <Trashed>false</Trashed>
    <ContentType>contentPage</ContentType>
    <CreateDate>2024-12-31T11:02:44</CreateDate>
    <NodeName Default="About" />
    <SortOrder>0</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="773f91e5-d0fb-4fa1-9c0d-ea83c26ff757">ContentPage</Template>
  </Info>
  <Properties>
    <bodyText>
      <Value><![CDATA[<p><em><span style="text-decoration: underline;"><strong>Why i created a site about Mclaren.</strong></span></em></p>
<p>As a lifelong McLaren F1 fan, I, Reinaerd Vandewalle, created a site about McLaren to share my passion for this iconic team with the world. McLaren has always been at the forefront of innovation and excellence in motorsport, and their story deserves a dedicated platform that highlights their achievements and legacy. Building this site allowed me to celebrate their history and connect with fellow fans who share the same admiration for McLaren's journey on and off the track.</p>
<p>Another reason for creating this site was to provide an engaging and informative resource for fans and enthusiasts. McLaren’s rich history, from their legendary F1 victories to their cutting-edge technology in supercars, offers endless stories worth exploring. I wanted to create a space where fans could learn, reminisce, and stay updated about McLaren’s milestones and current pursuits. This site serves as a hub for anyone looking to dive deeper into what makes McLaren such a remarkable brand.</p>
<p>On a personal level, the project was an opportunity to combine my love for McLaren with my technical skills. Designing and developing the site allowed me to channel my creativity into something meaningful. Every detail, from the design elements to the site’s functionality, was crafted to reflect the precision and innovation that McLaren embodies. It’s not just a website; it’s a tribute to the team that has inspired me throughout my life.</p>]]></Value>
    </bodyText>
    <headerimage>
      <Value><![CDATA[[
  {
    "key": "c5022482-e350-4a4e-ab16-7b2e79125deb",
    "mediaKey": "b198c0e1-c7e7-47ea-9030-a932096bff78"
  }
]]]></Value>
    </headerimage>
    <subtitle>
      <Value><![CDATA[This will tell you all you need to know.]]></Value>
    </subtitle>
    <title>
      <Value><![CDATA[About this website]]></Value>
    </title>
    <umbracoNaviHide>
      <Value><![CDATA[0]]></Value>
    </umbracoNaviHide>
  </Properties>
</Content>