<?xml version="1.0" encoding="utf-8"?>
<Content Key="edf59dc8-9bba-45ce-9863-588adb7d0f37" Alias="Blog" Level="2">
  <Info>
    <Parent Key="89c53768-f8a8-44d4-b9a0-62748a1277b7">Home</Parent>
    <Path>/Home/Blog</Path>
    <Trashed>false</Trashed>
    <ContentType>blogPage</ContentType>
    <CreateDate>2024-12-31T11:26:31</CreateDate>
    <NodeName Default="Blog" />
    <SortOrder>1</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="84c1e9e3-24b4-44f5-8af6-39c4d6ede606">BlogPage</Template>
  </Info>
  <Properties>
    <bodyText>
      <Value><![CDATA[]]></Value>
    </bodyText>
    <headerimage>
      <Value><![CDATA[[
  {
    "key": "e65045c5-cebe-45f9-b01d-0b4b7bfbd3e3",
    "mediaKey": "b198c0e1-c7e7-47ea-9030-a932096bff78"
  }
]]]></Value>
    </headerimage>
    <subtitle>
      <Value><![CDATA[]]></Value>
    </subtitle>
    <title>
      <Value><![CDATA[]]></Value>
    </title>
    <umbracoNaviHide>
      <Value><![CDATA[]]></Value>
    </umbracoNaviHide>
  </Properties>
</Content>