<?xml version="1.0" encoding="utf-8"?>
<Content Key="df4dfdc3-70ae-4243-9e03-f6ac4a303fd9" Alias="Contact" Level="2">
  <Info>
    <Parent Key="89c53768-f8a8-44d4-b9a0-62748a1277b7">Home</Parent>
    <Path>/Home/Contact</Path>
    <Trashed>false</Trashed>
    <ContentType>contact</ContentType>
    <CreateDate>2024-12-31T11:26:40</CreateDate>
    <NodeName Default="Contact" />
    <SortOrder>2</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="f9dd920c-e6d5-462d-97d2-0dc162b9d5ce">Contact</Template>
  </Info>
  <Properties>
    <bodyText>
      <Value><![CDATA[]]></Value>
    </bodyText>
    <headerimage>
      <Value><![CDATA[[
  {
    "key": "2ac660c8-957a-4422-824b-81ca70eaec5f",
    "mediaKey": "b198c0e1-c7e7-47ea-9030-a932096bff78"
  }
]]]></Value>
    </headerimage>
    <subtitle>
      <Value><![CDATA[]]></Value>
    </subtitle>
    <title>
      <Value><![CDATA[]]></Value>
    </title>
    <umbracoNaviHide>
      <Value><![CDATA[]]></Value>
    </umbracoNaviHide>
  </Properties>
</Content>