<?xml version="1.0" encoding="utf-8"?>
<Content Key="89c53768-f8a8-44d4-b9a0-62748a1277b7" Alias="Home" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/Home</Path>
    <Trashed>false</Trashed>
    <ContentType>homePage</ContentType>
    <CreateDate>2024-12-31T09:54:15</CreateDate>
    <NodeName Default="Home" />
    <SortOrder>0</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="c8c9be0a-d582-49a5-bdcb-8fe56709f62c">HomePage</Template>
  </Info>
  <Properties>
    <headerimage>
      <Value><![CDATA[[
  {
    "key": "4d6b35d1-dcd8-450e-ad26-edc8d470144c",
    "mediaKey": "949ba2b7-7d81-42ae-af48-f619d3b40f08"
  }
]]]></Value>
    </headerimage>
    <mainNavigation>
      <Value><![CDATA[[
  {
    "key": "3e08ed22-f1d6-4b7a-a675-91aaed2ba100",
    "name": "Home",
    "ncContentTypeAlias": "navigationItem",
    "PropType": null,
    "title": "Home",
    "link": [
      {
        "name": "Home",
        "udi": "umb://document/89c53768f8a844d4b9a062748a1277b7"
      }
    ],
    "childLinks": null
  },
  {
    "key": "273176d1-d264-48cc-aeb2-3ee3e4447396",
    "name": "About",
    "ncContentTypeAlias": "navigationItem",
    "PropType": null,
    "title": "About",
    "link": [
      {
        "name": "About",
        "udi": "umb://document/35209eabeccd4b508c3fa7b558c609c4"
      }
    ],
    "childLinks": null
  },
  {
    "key": "886f2db6-1acb-43e8-847c-fedeb5fd5d72",
    "name": "Blog",
    "ncContentTypeAlias": "navigationItem",
    "PropType": null,
    "title": "Blog",
    "link": [
      {
        "name": "Blog",
        "udi": "umb://document/edf59dc89bba45ce9863588adb7d0f37"
      }
    ],
    "childLinks": [
      {
        "name": "Blog",
        "udi": "umb://document/edf59dc89bba45ce9863588adb7d0f37",
        "queryString": "#Testing1"
      },
      {
        "name": "Most Popular",
        "target": "_blank",
        "url": "#Testing2",
        "queryString": "#testing2"
      },
      {
        "name": "Latest Blog Post",
        "url": "#testing3"
      }
    ]
  },
  {
    "key": "771fa2a5-8fda-43cc-9a48-96c09ebb0eab",
    "name": "Contact",
    "ncContentTypeAlias": "navigationItem",
    "PropType": null,
    "title": "Contact",
    "link": [
      {
        "name": "Contact",
        "udi": "umb://document/df4dfdc370ae42439e03f6ac4a303fd9"
      }
    ],
    "childLinks": null
  }
]]]></Value>
    </mainNavigation>
    <subtitle>
      <Value><![CDATA[A blog by Reinaerd Vandewalle]]></Value>
    </subtitle>
    <title>
      <Value><![CDATA[Reinaerd's Site]]></Value>
    </title>
  </Properties>
</Content>